services:
  backend:
    build:
      context: .
      dockerfile: Dockerfile
    image: meesha-backend:latest
    container_name: meesha-backend
    ports:
      - "4000:4000"
    env_file:
      - .env
    environment:
      - PORT=${PORT}
      - NODE_ENV=${NODE_ENV}
      - DATABASE_URL=${DATABASE_URL}
      - NEXTAUTH_SECRET=${NEXTAUTH_SECRET}
      - APP_BASE_URL=${APP_BASE_URL}
      - JWT_SECRET=${JWT_SECRET}
      - CLOUDINARY_CLOUD_NAME=${CLOUDINARY_CLOUD_NAME}
      - CLOUDINARY_API_KEY=${CLOUDINARY_API_KEY}
      - CLOUDINARY_API_SECRET=${CLOUDINARY_API_SECRET}
      - BREVO_API_KEY=${BREVO_API_KEY}
      - BREVO_SENDER_EMAIL=${BREVO_SENDER_EMAIL}
      - BREVO_SENDER_NAME=${BREVO_SENDER_NAME}
      - TRIPAY_MODE=${TRIPAY_MODE}
      - TRIPAY_MERCHANT_CODE=${TRIPAY_MERCHANT_CODE}
      - TRIPAY_API_KEY=${TRIPAY_API_KEY}
      - TRIPAY_PRIVATE_KEY=${TRIPAY_PRIVATE_KEY}
      - TRIPAY_CALLBACK_URL=${TRIPAY_CALLBACK_URL}
      - EMAIL_INVOICE_ENABLED=${EMAIL_INVOICE_ENABLED}
      - EMAIL_INVOICE_ATTACH_PDF=${EMAIL_INVOICE_ATTACH_PDF}
      - OTP_DISABLE_COOLDOWN=${OTP_DISABLE_COOLDOWN}
    restart: always
