services:
  backend:
    build:
      context: .
      dockerfile: Dockerfile
    image: meesha-backend:latest
    container_name: meesha-backend
    ports:
      - "4000:4000"
    environment:
      - PORT=4000
      - NODE_ENV=production
      - DATABASE_URL=postgresql://postgres.klyyaxkskrddwlnqpayj:gwI5c1rZkKprWXw8@aws-1-ap-south-1.pooler.supabase.com:6543/postgres?pgbouncer=true&sslmode=require
      - NEXTAUTH_SECRET=cnrIbQ6ls8q51y_8ZOAQNl3up4wDewWwDZgnohXtr48
      - APP_BASE_URL=http://meesha.store
      - JWT_SECRET=Jg6KUYJa3PkwAVUmib3ay4jkBQRgH3ehz4BUy0UegGhT+cUMr5qMpqHaBoQF3KoliKPZKg6w41xkfg/oABX9Xg==
      - CLOUDINARY_CLOUD_NAME=du9przbax
      - CLOUDINARY_API_KEY=462594895914211
      - CLOUDINARY_API_SECRET=ctU_p_IKWJN2b-9P6O7mZ2Qiw34
      - BREVO_API_KEY=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
      - BREVO_SENDER_EMAIL=meesha.co123@gmail.com
      - BREVO_SENDER_NAME=Meesha
      - TRIPAY_MODE=sandbox
      - TRIPAY_BASE_URL=https://tripay.co.id/api
      - TRIPAY_MERCHANT_CODE=T47085
      - TRIPAY_API_KEY=DEV-QiIzRdlxXcSQbfJI9Xn4yGEqQP1ygThgGM33UxDL
      - TRIPAY_PRIVATE_KEY=FlTOV-YqBtu-anlvY-gz8cR-wiSyz
      - TRIPAY_CALLBACK_URL=http://api.meesha.store/api/callback/tripay
      - EMAIL_INVOICE_ENABLED=true
      - EMAIL_INVOICE_ATTACH_PDF=true
      - OTP_DISABLE_COOLDOWN=true
    restart: always
