services:
  backend:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: meesha-backend
    ports:
      - "4000:4000"
    environment:
      - PORT=4000
      # Ganti dengan kredensial database & Tripay yang asli
      - DATABASE_URL=postgresql://postgres.klyyaxkskrddwlnqpayj:gwI5c1rZkKprWXw8@aws-1-ap-south-1.pooler.supabase.com:6543/postgres?pgbouncer=true&sslmode=require
      - APP_BASE_URL=https://meesha.store
      - TRIPAY_API_KEY=DEV-QiIzRdlxXcSQbfJI9Xn4yGEqQP1ygThgGM33UxDL
      - TRIPAY_PRIVATE_KEY=FlTOV-YqBtu-anlvY-gz8cR-wiSyz
      - TRIPAY_MERCHANT_CODE=T47085
    restart: always
